.heart-switch {
  --duration: .45s;
  --fill: #fafafa;
  align-self: center;
  margin-bottom: 1.3rem;
  position: relative;
  cursor: pointer;
  transform: scale(var(--s, 1)) translateZ(1);
  transition: transform 0.2s;
  -webkit-tap-highlight-color: transparent;
}
.heart-switch:active {
  --s: .95;
}
.heart-switch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  outline: none;
  border: none;
  pointer-events: none;
  margin: 0;
  padding: 0;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fafafa;
  box-shadow: 0 1px 3px 0 var(--shadow);
}
.heart-switch input + svg {
  width: 36px;
  height: 25px;
  fill: var(--fill);
  stroke: var(--stroke);
  stroke-width: 1px;
  stroke-linejoin: round;
  display: block;
  transition: stroke var(--duration), fill var(--duration);
}
.heart-switch input:not(:checked) {
  -webkit-animation: uncheck var(--duration) linear forwards;
          animation: uncheck var(--duration) linear forwards;
}
.heart-switch input:checked {
  -webkit-animation: check var(--duration) linear forwards;
          animation: check var(--duration) linear forwards;
}
.heart-switch input:checked + svg {
  --fill: var(--primary-color);
  --stroke: var(--primary-color);
}

@-webkit-keyframes uncheck {
  0% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  75% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes uncheck {
  0% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  75% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  100% {
    transform: rotate(30deg);
  }
}

@-webkit-keyframes check {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  100% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
}
@keyframes check {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  100% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
}
