.movies-list {
    align-items: end;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
}

.movies-list li {
    width: min-content;
}

.movies-list p {
    max-width: 11.6rem;
    margin-bottom: 0.5rem;
    color: lightgrey;
}

.movies-list img {
    width: 12.5rem;
    border-radius: 8px;
    box-shadow: 3px 3px 12px #000000;
}

.movies-list img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 1s;
}

@media (max-width: 1058px) {
    .movies-list {
        grid-template-columns: auto auto auto auto;
    }
  }

@media (max-width: 900px) {
    .movies-list {
        grid-template-columns: auto auto auto;
    }
  }

  @media (max-width: 768px) {
    .movies-list {
        grid-template-columns: auto auto;
    }
    .movies-list img {
        width: 8.5rem;
    }
  }