h1 {
    font-weight: 100;
}

.movies-list {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 0 2rem 0 0; */
    list-style: none;
}

.movies-list img {
    width: 12rem;
}

.movies-list a {
    text-decoration: none;
    color: lightgray;
}


.movies-list li {
    width: min-content;
}

.movies-list li:hover {
    color: white;
    cursor: pointer;
}

.movies-list img:hover {
    background-color: rgba(0, 0, 0, 0.438);
    opacity: 0.4;
    transition: all 1s;
    -webkit-transition: all 0.8s;
}