.movies-list {
    align-items: end;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style: none;
}

.movies-list li {
    width: min-content;
}

.movies-list p {
    max-width: 11.6rem;
    margin-bottom: 0.5rem;
    color: var(--text);
}

.movies-list img {
    width: 11.3rem;
    border-radius: 12px;
    box-shadow: 0 1px 6px var(--shadow);
}

.movies-list img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 1s;
}

@media (max-width: 1058px) {
    .movies-list {
        grid-template-columns: auto auto auto auto auto;
    }

    .movies-list img {
        width: 10.8rem;
    }
  }

@media (max-width: 960px) {
    .movies-list {
        grid-template-columns: auto auto auto auto;
    }
    .movies-list img {
        width: 10.5rem;
    }
  }

  @media (max-width: 768px) {
    .movies-list {
        grid-template-columns: auto auto;
    }
    .movies-list img {
        width: 8.5rem;
    }
  }