h1 {
    font-weight: 100;
}

.movies-list {
    display: inline-block;
    padding: 0 2.5rem 0 0;
}

.movies-list ul {
    list-style: none;
}

.movies-list li {
    border: 1.5px solid #746286;
    padding: 0.2rem 1rem; 
    margin-bottom: 0.5rem;
}

.movies-list li:hover {
    border: 1.5px solid #b88de2;
    color: white;
    background-color: #181620;
    cursor: pointer;
}