header {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 5rem 0;
}

a {
  text-decoration: none;
}

header h1 {
  color: var(--text);
}

header h1:after {
  position: absolute;
  width: 8rem;
  height: 1.5px;
  top: 5.2rem;
  left: 24%;
  background-color: var(--primary-color);
  content: "";
}


@media (max-width: 768px) {
  .App h1:after {
   display: none;
  }  
}
