.movie-details {
  width: 80vw;
  display: flex;
}

.movie-details img:nth-child(2) {
  height: 45vh;
  border-radius: 8px;
  margin: 0 0.2rem 0 0.7rem;
  box-shadow: 3px 3px 12px var(--shadow);
}

.movie-img-title {
  border-right: 1px solid #6a6c6f;
  padding-right: 2.3rem;
}

.movie-img-title h2 {
  border: 1.3px solid var(--primary-color);
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
}

.movie-img-title span {
  margin: 0;
  color: var(--primary-color);
}
.movie-img-title img:first-child {
  width: 1.7rem;
  float: left;
  margin: 0 0 0.2rem 2rem;
}

.movie-description h3 {
  margin: 0;
}

.movie-description h3:nth-child(2) {
  color: var(--primary-color);
}

.movie-description article {
  margin: 1rem 4rem 0 4rem;
  text-align: left;
}

@media (max-width: 768px) {
  .movie-details {
      display: block;
  }
  .movie-img-title {
    border-right: none;
    margin-bottom: 2rem;
    padding-right: 0.7rem;
  }
  .movie-img-title img:first-child {
    margin: 0 0 0.2rem 3rem;
  }

  .movie-description article {
    margin: 0.3rem 0.1rem ;
    text-align: left;
  }
}