@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

body {
  background:#0d1117;
  color: lightgrey;
  font-family: "Poppins";
}

.App {
  text-align: -webkit-center;
}

.App h1 {
  margin: 2rem 0 2rem 0;
  color: lightgrey;;
}

.App h1:after {
  position: absolute;
  width: 8rem;
  height: 1.5px;
  bottom: 36.7rem;
  left: 45%;
  background-color: #ed145b;
  content: "";
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
}

@media (max-width: 823px) {
  .App h1:after {
   display: none;
  }  
}
