@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

:root {
  --bg-color: #0d1117;
  --text: lightgrey;
  --primary-color: #ec4472;
  --shadow: #000000;
  --stroke: #D1D6EE;
}

.light-mode {
  --bg-color: #fafafa;
  --text: #777;
  --primary-color: #ec4472;
  --shadow: rgba(0, 0, 0, 0.31);
  --stroke: #D1D6EE;
  transition: all 0.55s linear;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text);
  font-family: "Poppins";
}

.App {
  text-align: -webkit-center;
}

h1, h2 {
  font-weight: 300;
}